@font-face {
    font-family: 'MainFont';
    src: url('./fonts/main_font.ttf') format('truetype');
}

body {
    font-family: 'MainFont';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #bebed6;
}

header {
    background: linear-gradient(180deg, #0e0e16 0%, #1f1f31 100%);
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: column;
    color: #fbf9fe;
}


.logo {
    height: 30px;
    width: auto;
    position: static;
    left: 32px;
    top: 40px;
}

nav {
    background-color: transparent;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #fbf9fe;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #0e0e16;
    color: #fbf9fe;
}

main {
    padding: 3rem 2rem;
    margin: 0 auto;
}

.img-container {
    position: relative;
    display: inline-block;
    width: 40%;
}

#img-F1 {
    width: 100%;
    height: auto;
    display: block;
}

.img-tooltip {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-container:hover .img-tooltip {
    opacity: 1;
}

footer {
    background: linear-gradient(180deg, #1f1f31 0%, #0e0e16 100%);
    color: #fbf9fe;
    padding: 2rem;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}